.contact {
  min-height: 60vh;
  min-width: 300px;
  background: linear-gradient(to bottom, #374f5f 0%, #363a79 100%);
  flex-flow: column wrap;
  padding-bottom: 80px;
  color: rgb(240, 240, 240);
}

.ct-form {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  flex-flow: column nowrap;
}

.ct-form textarea {
  max-width: 100%;
}

.ct-form div,
.ctn-field {
  margin-bottom: 15px;
}

.ct-form label {
  display: block;
  margin-bottom: 8px;
}

.ctn-field {
  width: 95%;
}

.ct-form input {
  width: 100%;
}

.ct-title {
  padding: 50px 0;
}

.ct-input {
  padding: 14px 8px;
  width: 100%;
  background: #efefefc4;
  border: none;
}

.ct-err {
  border-right: 5px solid #dc143c;
}

@media (min-width: 750px) {
}
