.gallery {
  width: 100%;
  min-width: 300px;   
  background: #2d2525;
}

#og-gallery {
  display: block;
  width: 100%;
  min-width: 300px;
  min-height: 50px;
  padding: 2px; 
  overflow: auto;
}
 
