.ptn {
  min-height: 20vh;
  background: linear-gradient(to bottom, #ffe259, #ffa751);
  position: relative;
  padding-bottom: 60px;
}

.ptn-ctn {
  width: 90%;
  max-width: 890px;
  padding-top: 150px;
  flex-flow: row wrap;
}
 
.ptn-img {
  object-fit: contain;
  width: 200px;
  padding: 10px;
  filter: grayscale(0.8);
}

.ptn-img:hover,
.ptn-img:active,
.ptn-img:focus {
  filter: unset;
}

.ptn-title {
  position: absolute;
  top: 1%;
}

@media (min-width: 750px) {
  .ptn-ctn {
    flex-flow: unset;
  }
}
