.proj {
  min-height: 20vh;
  background: linear-gradient(to bottom, #ffc064, #da4453); 
  padding-bottom: 60px;
  color: #f5f5f5;
}

.proj-title {
  color: #313131;
}

.pj {
  flex-flow: column wrap;
  width: 90%;
  margin: 0 20px;
  margin-top: 10px;
  background: #1d30316e;
  border-radius: 10px;
}

.pj h3 {
  font-family: "Paytone One", sans-serif;
  text-align: center;
}

.pj p {
  padding: 8px;
  font-family: "Montserrat", sans-serif;
}

.pj-img {
  width: 100%;
}

.pj-img img {
  object-fit: contain;
  width: 100%;
  mix-blend-mode: multiply;
}

.pj-contained {
  flex-flow: column wrap;
}

@media (min-width: 750px) {
  .pj {
    flex-flow: row wrap;
    max-width: 350px;
  }

  .pj-contained {
    flex-flow: row wrap;
  }
}
