.s-container {
  min-width: 300px;
  max-width: 460px;
  width: 90%;
  border-radius: 8px;
  margin: 8px;
}

.s-container:first-child {
  background: #fde2f7;
}

.s-container:nth-child(2) {
  background: #ffedb0;
}

.s-container:nth-child(3) {
  background: #a5fec0;
}

.s-container:last-child {
  background: #a5a7fe;
}

.s-img-container {
  height: 250px;
  width: 100%;
}

.s-img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}



.s-head {
  font-family: "Paytone One", sans-serif;
}

.s-text {
  font-family: "Ubuntu", sans-serif;
}

@media (min-width: 750px) {
  .s-container {
    height: 500px;
  }
}
