.s-container {
  min-width: 300px;
  max-width: 460px;
  width: 90%;
  border-radius: 8px;
  margin: 8px;
}

.s-container:hover,
.s-container:active {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.s-img-container {
  height: 250px;
  width: 100%;
}

.s-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.s-head,
.s-text {
  padding: 8px;
}

.s-head {
  font-family: "Paytone One", sans-serif;
}

.s-text {
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 20px;
}

@media (min-width: 750px) {
  .s-container {
    height: 500px;
  }

  .s-text {
    padding-bottom: unset;
  }
}
