.team {
  min-height: 40vh;
  background: linear-gradient(to top, #42275a, #734b6d);
  padding: 10px;
  padding-bottom: 70px;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}

.team-title {
  color: #f5f5f5;
  position: relative;
}

.member {
  width: 360px;
  flex-flow: column wrap;
  padding: 10px;
}

.member h3 {
  font-family: "Paytone One", sans-serif;
}

.member p {
  font-family: "Montserrat", sans-serif;
}

.whole-team {
  flex-flow: row wrap;
}

.mb {
  max-width: 400px;
}

.member img {
  filter: grayscale(1);
  width: 280px;
  height: 60%; 
}
