@import url("https://fonts.googleapis.com/css?family=Caveat|Paytone+One|Ubuntu|Montserrat&display=swap");

* {
  transition: all 0.5s ease;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sec-title {
  width: 100%;
}

.credit {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
  position: relative;
  z-index: -100;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrollbar Styling */
/*by: https://codepen.io/thetallweeks/pen/EaBpx*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebebc9;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #111111;
}

.scroll {
  animation: scroll 3s ease 0.2s infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.75em);
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
