@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  transition: all 0.5s ease;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

.credit {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
  position: relative;
  z-index: -100;
}

.scroll {
  animation: scroll 3s ease 0.2s infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    transform: translateY(0.75em);
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
