@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  transition: all 0.5s ease;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

.credit {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
  position: relative;
  z-index: -100;
}
 