@charset "utf-8";

@media (min-width: 640px) {
  .navbar {
    height: 60px;
  }

  .hamburger {
    display: none;
    visibility: hidden;
  }

  .page_link {
    display: flex;
    visibility: unset;
    justify-content: space-around;
    padding-left: 5%;
  }

  .og_item {
    display: none;
    visibility: none;
  }


  .nav_nav {
    color: white;
  }


  .og_logo {
    height: 100%;
  }

  .logo_item {
    width: 30%;
  }

  .services,
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1280px;
  }

  .service {
    height: 490px;
    max-height: 500px;
    width: 30%;
    margin-bottom: 42px;
    min-width: 450px;
    padding: 4px;
    background: unset;
    color: unset;
  }

  .service:hover {
    background: #8f8f8f4a;
    transform: unset;
  }

  #projects {
    background: #231c23;
    color: #ffffff;
  }

  #projects>div>div>div {
    background: transparent;
    color: inherit;
  }

  .menu_overlay {
    display: none;
  }

  .tagline {
    font-size: 22px;
    clip-path: unset;
    background-image: url('../images/independence.jpg');
  }

  .tagline_filter {
    padding: 40px 0px;
  }

  .heading {
    height: 100vh;
  }

  .head_bg_container {
    top: 60px;
  }

  .ham_btn {
    display: none;
  }

  .ant-breadcrumb a {
    color: #ffffff;
  }

  .slogan {
    font-size: 3rem;
    border-radius: 10px;
    padding: 8px;
    border-left: unset;
    border-right: unset;
  }

  .arrow_down {
    transform: scale(2);
  }

  .service:hover {
    border: 1px solid #8f8f8fde;
    border-radius: 4px;
  }

  .to_top {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    right: 18px;
    border: 1px solid #5d3767;
    border-radius: 4px;
    margin-top: -4%;
    opacity: 0.2;
  }

  .map {
    margin: 24px;
    width: 75%;
    justify-self: center;
    align-self: center;
  }

  .map_frame {
    height: 320px;
    width: 100%;
  }

  .contact_info {
    width: 60%;
  }

  .reach_us {
    width: 90%;
    padding: 40px;
    border-color: #ffffff;
  }

  #reach_us {
    background: #7a5d7d;
    color: #ffbd00;
  }

  .input_item {
    border-color: #ffffff;
  }

  .input_btn {
    border-color: #ffffff;
  }

  input,
  textarea,
  ::placeholder {
    color: #ffffff;
  }

  .notification {
    max-height: 140px;
  }

  #team {
    padding-bottom: 60px;
  }

  .team_container {
    flex-flow: row wrap;
    max-width: 1100px;
    margin: 2px auto;
  }

  .team_img {
    width: 270px;
    height: 270px;
  }

  .team_card {
    min-width: 300px;
  }

  .team_card:hover {
    background: none;
    border: unset;
    border-radius: unset;
  }

  .partners {
    height: 340px;
  }

  .partner {
    height: 240px;
  }
}