@charset "utf-8";

@media (min-width: 640px) {
  .navbar {
    height: 6%;
  }

  .head_bg_container {
    clip-path: unset;
  }

  .services,
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .service_heading {
    display: flex;
    flex-direction: column;
  }

  .service {
    background: #f5f5f5b0;
    padding: 0;
    margin-bottom: 40px;
    min-height: 460px;
    width: 40%;
  }

  .menu_overlay {
    display: none;
  }

  .head_bg_container {
    top: 6%;
  }

  .ham_btn {
    display: none;
  }

  .slogan {
    font-size: 3rem;
    border-radius: 10px;
    padding: 8px;
  }

  .arrow_down {
    transform: scale(2);
  }

  .service:hover {
    border: 1px solid #8f8f8fde;
    border-radius: 4px;
  }
}
