@charset "utf-8";

@media (min-width: 740px) {

  .og_logo {
    width: 140px;
    height: 140px;
  }

  .menu {
    display: none;
  }

  .menu_overlay {
    display: none;
  }

  .navbar,
  .nav_items {
    height: 6%;
  }

  .head_content {
    margin: 40vh auto 0 auto;
    width: 50%;
  }

  .slogan {
    font-size: 3rem;  
    border-radius: 10px;  
    padding: 8px;
  }

  .arrow_down {
    width: 200%;
  }


}
