@font-face {
  font-family: 'majari bold';
  src: url('../fonts/majari_bold.ttf');
}

@font-face {
  font-family: 'majari regular';
  src: url('../fonts//manjari_regular.ttf');
}

@font-face {
  font-family: 'josefinsans regular';
  src: url('../fonts/josefinsans_regular.ttf');
}

@font-face {
  font-family: 'josefinsans bold';
  src: url('../fonts/josefinsans_bold.ttf');
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
#ogworld_app {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 310px;
}

.heading {
  position: relative;
  height: 100vh;
}

.head_all {
  height: 102%;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 52px;
  background: #02131d;
  z-index: 20;
}

.navbar_content {
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.og_logo {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  height: 80%;
}

.og_logo:hover,
.og_logo:focus {
  filter: sepia(50%);
}

.credit {
  display: none;
}

.nav_link {
  text-decoration: none;
  color: #69ffad;
  font-family: 'josefinsans regular';
}

.link {
  text-decoration: none;
}

.nav_item {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'josefinsans regular';
  font-size: 1.3rem;
  font-weight: bold;
}

.page_link {
  color: wheat;
  display: none;
  visibility: hidden;
}

.page_link a:hover {
  color: #69ffad;
}

.page_link a::before {
  content: '    ';
  padding: 0 4px;
}

.page_link a::after {
  content: '    ';
}

.menu_overlay {
  background: #02131d;
  transition: all 0.8s ease;
  padding-bottom: 52px;
  z-index: 16;
}

.overlay_content {
  color: #ffffff;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 5% 0;
  transition: opacity 0.5s ease-in-out 0.2s;
}

.ham_btn,
.arrow_down {
  transform: scale(1.4);
}

@keyframes moveupdown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(18px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.continue {
  padding: 20px;
  animation: moveupdown infinite 3s ease 0.2s;
}

.head_bg_container {
  position: relative;
  top: 51px;
  height: 92%;
  /* clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%); */
}

.bg_filter,
.head_content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #00000059;
}

.head_content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.continue,
.continue:active,
.continue:visited {
  text-decoration: none;
  outline: none;
}

.slogan {
  width: 80%;
  font-family: 'josefinsans bold';
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  border-radius: 1px;
  border-left: 4px solid #ffffff68;
  border-right: 4px solid #ffffff68;
  padding: 5px;
}

.head_background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.page_content {
  /* font-family: 'majari regular'; */
  /* padding: 4%; */
}

.tagline,
.services,
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-left: 4%;
  padding-right: 4%;
}

.tagline {
  /* margin-top: -7px;  */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.tagline {
  padding: 0;
  color: #ffffff;
  font-size: 1.1rem;
}

.tagline_filter {
  position: relative;
  width: 100%;
  height: 100%;
  background: #1a1919cf;
  padding: 30px 0px;
}

.service_image_container {
  padding-top: 15px;
  width: 100%;
  height: calc(450px / 2);
  /* background: #5a859f; */
}

.services_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.service_image {
  object-fit: cover;
  object-position: center center;
}

.service_description {
  padding: 4px;
}

.service {
  background: #505e6d;
  color: #ffffff;
  max-height: 490px;
  height: 480px;
  transition: all 0.5s ease-out 0.2s;
  width: 95%;
  margin-bottom: 38px;
  border-radius: 4px;
}

.service:hover {
  background: #230c1d;
  transform: scale(1.1);
  transition: all 0.5s ease 0.2s;
}

section h2 {
  text-align: center;
}

.services,
#projects,
#services {
  padding-top: 53px;
}

#services {
  background: #e8e8e8ab;
}

#projects {
  background: #dedede;
  color: #140d21;
}

#projects > div > div > div {
  /* background: #800c36; */
  background: unset;
  color: #140d21;
}

#saying {
  /* background: #8f8f8f4a; */
}

#feedback {
  padding-top: 77px;
}

#reach_us {
  background: #080808c9;
  color: #f5deb3;
}

.feedback_head {
  padding-right: 20px;
}

.reach_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-right: 4%;
  padding-left: 4%;
}

.reach_us {
  border: 2px solid #d8c0c0;
  border-radius: 4px;
  width: 100%;
  min-width: 300px;
  align-self: center;
  max-width: 930px;
  padding: 20px;
  margin-bottom: 50px;
}

.reach_heading {
  margin-top: 53px;
}

.reach_form {
}

.feedback_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.feedback {
  padding: 20px;
  border: 1px solid #c24f;
  text-align: center;
  border-radius: 4px;
  min-width: 308px;
  max-width: 760px;
  transition: all 0.1s ease;
  margin-bottom: 15px;
}

.feedback:hover {
  /* background: #f34f; */
  /* color: white; */
  /* border-width: 2px; */
}

.quote {
  padding: 8px;
}

.commentor {
  color: #484848;
  text-align: right;
}

.commentor img {
  width: 19px;
  height: 19px;
}

.page_footer {
  display: flex;
  flex-direction: column;
  color: #1b2638;
  font-size: 16px;
  background: #ececec;
  font-family: 'josefinsans regular';
  padding: 6% 3%;
  width: 100%;
  min-width: 310px;
}

.footer_item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.dev_info a {
  text-decoration: none;
}

.link_image {
  height: 16px;
  width: 16px;
}

.cool,
.cool:hover {
  transition: all 0.8s ease;
}

.to_top {
  display: none;
}

.to_top:hover {
  opacity: 1;
}

.full_dimension {
  width: 100%;
  height: 100%;
}

.to_top a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_up {
  padding: 10px;
}

.arrow_up:hover {
  transform: scale(1.5);
}

.theBashShell {
  color: #6f2020;
}

.map {
  padding: 1px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  margin: 10px;
}

.map_frame {
  height: 199px;
  width: 100%;
  padding: 1px;
}

.contact_info {
  font-style: normal;
  width: 100%;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 10px 0;
}

.contact_info a {
  color: #7d1184;
}

.copyright {
  padding-top: 30px;
}

.input_item {
  width: 100%;
  padding: 8px;
  max-width: 100%;
  border: 2px solid #d8c0c0;
  border-radius: 4px;
  font-size: 120%;
  background: transparent;
}

.input_btn {
  margin: 14px;
  border: 2px solid #d8c0c0;
  border-radius: 4px;
  background: transparent;
}

input,
textarea,
::placeholder {
  color: #d8c0c0;
  outline: none;
}

textarea.input_item {
  height: 150px;
  min-width: 100%;
}

.input_group {
  display: block;
  padding: 14px;
}

.input_tag {
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}

.contact_form,
.input_item,
.notification_body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.contact_image {
  position: relative;
  top: -43px;
  right: 32%;
  transform: scale(1.4);
}

.notification {
  position: fixed;
  bottom: 0;
  /* z-index: 5; */
  width: 100%;
  height: 0%;
  max-height: 120px;
  background: #dc143c;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: height 1s ease 1s, opacity 1s ease;
}

.notification_close_container {
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 40px;
  height: 100%;
}

.notification_close {
  height: inherit;
  float: right;
  max-width: 40px;
  margin: 4px;
  margin-right: 17px;
}

.notification_body {
  color: #ffffff;
  align-items: center;
  width: 100%;
}

#team {
  padding-top: 53px;
  background: #ffc92e;
  padding-bottom: 40px;
}

.team_container {
  display: flex;
  flex-flow: column nowrap;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.team_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: grayscale(1);
}

.team_card {
  background: none;
  color: unset;
  max-height: 5900px;
  height: 570px;
}

.team_card > h3 {
  margin-top: 80px;
}

.team_card:hover {
  background: none;
}

.nav_link {
  padding-top: 3px;
  padding-bottom: 3px;
}

.heart {
  width: 20px;
}
