@import url('https://fonts.googleapis.com/css?family=Poiret+One:400,700|Work+Sans:400,600|Caveat:700|Montserrat|Overlock:300&display=swap');

body,
#ogworld_app {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 310px;
}

.heading {
  position: relative;
  height: 100vh;
}

.head_all {
  height: 102%;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 52px;
  background: #02131d;
  z-index: 20;
}

.navbar_content {
  display: flex;
  height: 100%;
  justify-content: space-around;
}

.logo_link {
  padding: 5px;
}

.og_logo {
  object-fit: contain;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.og_logo:hover,
.og_logo:focus {
  filter: sepia(50%);
}

.credit {
  display: none;
  visibility: hidden;
  opacity: 0.4;
}

.nav_link {
  text-decoration: none;
  color: #ffffff;
}

.link {
  text-decoration: none;
}

.text-white {
  color: #ffffff;
  font-family: 'Poiret One', cursive;
}


.nav_item {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.page_link {
  color: wheat;
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.page_link a:hover {
  color: #69ffad;
}

.page_link a::before {
  content: "    ";
  padding: 0 4px;
}

.page_link a::after {
  content: "    ";
}

.menu_overlay {
  background: #02131d;
  transition: all 0.8s ease;
  padding-bottom: 52px;
  z-index: 16;
}

.overlay_content {
  color: #ffffff;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 5% 0;
  transition: opacity 0.5s ease-in-out 0.2s;
}

.nav_nav {
  font-family: 'Poiret One', cursive;
}

.ham_btn,
.arrow_down {
  transform: scale(1.4);
}

@keyframes moveupdown {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(18px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.continue {
  padding: 20px;
  animation: moveupdown infinite 3s ease 0.2s;
}

.bg_container {
  height: calc(100vh - 51px);
  width: 100%;
}

.head_bg_container {
  position: relative;
  top: 51px;
  height: 92%;
  /* clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%); */
}

.bg_filter,
.head_content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #00000070;
  z-index: 4;
}

#service,
#project,
#team {
  position: relative;
  width: 100%;
  flex-flow: column nowrap;
}

#team {
  /* background: beige; */
}

#project {
  padding-bottom: 100px;
  background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

.card-container {
  margin-bottom: 30px;
}

.og-service {
  width: 90%;
}

.og-service .ant-card-body {
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  background: linear-gradient(45deg, #b53f83, #0f142b);
}

.og-service .ant-card-meta-description {
  color: white;
}


.og-project {
  width: 100%;
  height: 340px;
  padding: 5px;
  margin: 0px 8px;
  position: relative;
}

.og-team {
  position: relative;
  width: 90%;
  /* height: 480px; */
  padding: 12px;
  margin-bottom: 20px;
}

.project-head {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: #000000;
}

.project-description {
  font-size: 18px;
  color: #000000;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.member-img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1);
}

.member-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  color: black;
}

.member-info {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: black;
}

/* .member-img:nth-child(2n) {
  height: 260px;
} */

.og-service-img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 250px;
}


.service_layout,
.project_layout,
.team_layout {
  flex-flow: column nowrap;
}


.head_content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.continue,
.continue:active,
.continue:visited {
  text-decoration: none;
  outline: none;
}

.slogan {
  width: 80%;
  font-family: 'Overlock', cursive;
  color: white;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  border-radius: 1px;
  border-left: 4px solid #ffffff68;
  border-right: 4px solid #ffffff68;
  padding: 5px;
}

.head_background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.page_content {
  position: relative;
}

.tagline,
.services,
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-left: 4%;
  padding-right: 4%;
}

.tagline {
  font-family: 'Overlock', cursive;
  background-image: url('../images/independence0.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  position: relative;
}

.tagline h2 {
  color: white;
  padding-top: 50px;
}

.comment {
  padding: 1px 8px;
  padding-bottom: 40px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  flex-flow: column nowrap;
}

.comment p {
  color: white;
}

.tagline_filter {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #89216b94, #da44538c);
  padding: 20px 0px;
}

.service_heading,
.project_heading,
.team_heading,
.feedback_heading,
.contact_heading,
.partnership_heading {
  text-align: left;
  width: 100%;
  padding-top: 54px;
  padding-left: 20px;
  font-size: 40px;
  font-family: 'Caveat', cursive;
}


.project_heading,
.feedback_heading,
.partnership_heading {
  text-align: right;
  padding-left: unset;
  padding-right: 30px;
}

.og-form input,
.og-form textarea.ant-input {
  border: 3px solid;
}

.og-form .ant-input:hover {
  border-color: unset;
  border-right-width: unset;
}

.ant-input:focus {
  border-color: #40a9ff;
  border-right-width: unset !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.service_image_container {
  padding-top: 15px;
  width: 100%;
  height: calc(450px / 2);
  /* background: #5a859f; */
}

.partner-container {
  height: 150px;
}

.partner-img {
  object-fit: contain;
  object-position: center center;
  height: 100%;
  width: 70%;
}

.services_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.service_image {
  object-fit: cover;
  object-position: center center;
}

.service_description {
  padding: 4px;
}

.og-service .ant-card-meta-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: rgb(252, 246, 236)
}

.og-form {
  width: 100%;
  max-width: 650px;
  padding: 20px; 

}

.og-form input {
  padding: 7px;
  height: 50px;
}

.form-send {
  background: linear-gradient(45deg, #c55757, #dc47aa);
  color: white;
}

.service {
  background: #505e6d;
  color: #ffffff;
  max-height: 490px;
  height: 480px;
  transition: all 0.5s ease-out 0.2s;
  width: 95%;
  margin-bottom: 38px;
  border-radius: 4px;
}

.service:hover {
  background: #230c1d;
  transform: scale(1.1);
  transition: all 0.5s ease 0.2s;
}

section h2 {
  text-align: center;
}

.services,
#projects,
#services {
  padding-top: 53px;
}

#services {
  background: #e8e8e8ab;
}

#projects {
  background: #dedede;
  color: #140d21;
}

#projects>div>div>div {
  /* background: #800c36; */
  background: unset;
  color: #140d21;
}

#saying {
  /* background: #8f8f8f4a; */
}

#feedback {
  background: linear-gradient(to right, #89216b, #da4453);
}

#reach_us {
  /* background: #080808c9; */
  color: #f5deb3;
  padding-bottom: 50px;
}

.feedback_head {
  padding-right: 20px;
}

.reach_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-right: 4%;
  padding-left: 4%;
}

.reach_us {
  border: 2px solid #d8c0c0;
  border-radius: 4px;
  width: 100%;
  min-width: 300px;
  align-self: center;
  max-width: 930px;
  padding: 20px;
  margin-bottom: 50px;
}

.error_message {
  color: red;
}

.ant-form-item small {
  display: block;
  height: 30px;
  text-align: right;
}

.reach_heading {
  margin-top: 53px;
}

.reach_form {}

.feedback-container {
  padding-bottom: 30px;
}


.quote {
  width: 55px;
}

.commentor {
  color: #d1d1d1;
  text-align: right;
  font-size: 15px;
}

/* .commentor img {
  width: 19px;
  height: 19px;
} */

.page_footer {
  display: flex;
  flex-direction: column;
  color: #1b2638;
  font-size: 16px;
  background: #ececec;
  padding: 6% 3%;
  width: 100%;
  min-width: 310px;
  font-family: 'Montserrat', sans-serif;
}

.footer_item {
  display: flex;
  justify-content: center;
  align-content: center;
}

footer span {
  text-align: center;
}

.dev_info a {
  text-decoration: none;
}

.link_image {
  height: 16px;
  width: 16px;
}

.cool,
.cool:hover {
  transition: all 0.8s ease;
}

.to_top {
  display: none;
}

.to_top:hover {
  opacity: 1;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full_dimension {
  width: 100%;
  height: 100%;
}

.to_top a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_up {
  padding: 10px;
}

.arrow_up:hover {
  transform: scale(1.5);
}

.theBashShell {
  color: #6f2020;
}

.map {
  padding: 1px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  margin: 10px;
}

.map_frame {
  height: 199px;
  width: 100%;
  padding: 1px;
}

.contact_info {
  font-style: normal;
  width: 100%;
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 10px 0;
}

.contact_info a {
  color: #7d1184;
}

.copyright {
  padding-top: 30px;
}

.input_item {
  width: 100%;
  padding: 8px;
  max-width: 100%;
  border: 2px solid #d8c0c0;
  border-radius: 4px;
  font-size: 120%;
  background: transparent;
}

.input_btn {
  margin: 14px;
  border: 2px solid #d8c0c0;
  border-radius: 4px;
  background: transparent;
}

input,
textarea,
::placeholder {
  color: #d8c0c0;
  outline: none;
}

textarea.input_item {
  height: 150px;
  min-width: 100%;
}

.input_group {
  display: block;
  padding: 14px;
}

.input_tag {
  display: block;
  padding-bottom: 10px;
  font-weight: bold;
}

.contact_form,
.input_item,
.notification_body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.contact_image {
  position: relative;
  top: -43px;
  right: 32%;
  transform: scale(1.4);
}

.notification {
  position: fixed;
  bottom: 0;
  /* z-index: 5; */
  width: 100%;
  height: 0%;
  max-height: 120px;
  background: #dc143c;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: height 1s ease 1s, opacity 1s ease;
}

.notification_close_container {
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 40px;
  height: 100%;
}

.notification_close {
  height: inherit;
  float: right;
  max-width: 40px;
  margin: 4px;
  margin-right: 17px;
}

.notification_body {
  color: #ffffff;
  align-items: center;
  width: 100%;
}

.team_container {
  display: flex;
  flex-flow: column nowrap;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.team_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: grayscale(1);
}

.team_card {
  background: none;
  color: unset;
  max-height: 5900px;
  height: 570px;
}

.team_card>h3 {
  margin-top: 80px;
}

.team_card:hover {
  background: none;
}

.nav_link {
  padding-top: 3px;
  padding-bottom: 3px;
}

.heart {
  width: 20px;
}

.partners {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 242px;
}

.partner {
  height: 160px;
  /* width: 200px; */
  /* background-color: #dc143c; */
}


.partner,
.p_img_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.partner_img {
  object-fit: contain;
  height: 80%;
  width: 100%;
}

.partner_program {
  color: #7b6d6d;
  text-align: center;
}

#partnership {
  background: linear-gradient(to right, #ffe259, #ffa751);
  padding-bottom: 50px;
}

section#partnerships {
  padding: 20px;
  margin: 0 auto;
}

button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
  display: none !important;
}