@font-face {
  font-family: 'majari bold';
  src: url('../fonts/majari_bold.ttf');
}

@font-face {
  font-family: 'majari regular';
  src: url('../fonts//manjari_regular.ttf');
}

@font-face {
  font-family: 'josefinsans regular';
  src: url('../fonts/josefinsans_regular.ttf');
}

@font-face {
  font-family: 'josefinsans bold';
  src: url('../fonts/josefinsans_bold.ttf');
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
#ogworld_app {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.heading {
  position: relative;
  height: 90%;
}

.head_all {
  height: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 8%;
  background: #02131d;
  z-index: 20;
}

.navbar_content {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.head_bg_container {
  position: relative;
  top: 8%;
  height: 92%;
}

.bg_filter,
.head_content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2222227c;
}

.head_content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.continue,
.continue:active,
.continue:visited {
  text-decoration: none;
  outline: none;
}

.slogan {
  width: 80%;
  font-family: 'josefinsans bold';
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  border-radius: 1px;
  border-left: 4px solid #ffffff68;
  border-right: 4px solid #ffffff68;
  padding: 2px;
}

.head_background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.og_logo {
  position: relative;
  width: 20%;
  height: 20%;
  padding-top: 2px;
}

.nav_item {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  font-family: 'josefinsans bold';
  font-size: 120%;
}

.hamburger {
  transform: scale(2);
}

.menu_overlay {
  background: #02131d;
  transition: all 0.8s ease;
}

.page_content {
  font-family: 'majari regular';
  margin: 4%;
}

.tagline,
.services,
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page_footer {
  display: flex;
  flex-direction: column;
  color: #5f5f5f;
  font-family: 'josefinsans regular';
}

.line { 
  width: 90%;
  margin: 10px auto;
  border-radius: 4px;
  padding: 0.8px;
  background-color: #14334da8;
}

.copyright {
}

.footer_item {
  display: flex;
  justify-content: center;
  align-content: center;
}

.dev_info a {
  text-decoration: none;
  padding-bottom: 1.5rem;
}

.dev_info a::after {
  content: ' 💻';
}

/* .top {
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: 8px;
  left: 86%;
  justify-content: center;
  align-items: center;
  background-color: #0e4481;
  z-index: 4;
  box-shadow: 2px 1px 4px #0c0c0c;
}

.top_link:hover {
  text-decoration: none;
  cursor: pointer;
}

.top img {
  transform: rotate(180deg);
}
 */
 
