footer {
  height: 100vh;
  background: #ececec;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
 

.foot a {
  text-decoration: none;
  color: #7d1184;
}

.tip div {
  display: inline-block;
}

.github::after {
  content: url("https://api.iconify.design/icomoon-free:link.svg");
}
