nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: black;
  height: 50px;
  z-index: 40;
  min-width: 310px;
  color: white;
}

.nav-content {
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content div,
.nav-content a {
  height: 100%;
}

.nav-centered,
.nav-content a,
.nav-content div:first-child,
.nav-content div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content div:first-child {
  justify-content: flex-start;
}

.nav-content div:last-child {
  justify-content: flex-end;
}

.nav-content div:first-child,
.nav-content div:last-child {
  width: 40%;
}

.nav-logo {
  object-fit: contain;
  height: 80%;
}

.nav-overlay {
  height: 0;
  opacity: 0;
}

.overlay {
  height: calc(100vh - 50px);
  background: #a56464;
  opacity: 1;
}

@media (min-width: 750px) {
  .nav-content {
    height: 100%;
    padding: 0 60px;
  }

  .overlay {
    height: 30vh;
  }
}
